h1 {
  font-size: 1.7em;
}
h2 {
  text-align: center;
}

.hide {
  display: none;
}

output {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="range"]{
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track{
  padding: 2px;
  height: 33px;
  background: rgb(216, 216, 216);
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 29px;
  height: 29px;
  background: rgba(255,255,255,1);
  border-radius: 20px;
}

.grid-width {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 860px;
}

.container-fluid {
  max-width: 100%;
  display: block;
  width: 860px;
}

.jumbotron {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
